.large {
    text-align: center;
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 3%;
}

.small {
    text-align: center;
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 3%;
}

.content-large {
    width: 80%;
    border: 0px inset white;
    border-radius: 10px;
    padding: 10px;
}
.content-small {
    width: 90%;
    border: 0px inset white;
    border-radius: 10px;
    padding: 10px;
}

.header {
    margin-bottom: 5%;
}

.btn-link {
    padding: 1% 3% 1% 3%;
    background-color: #008000;
    border-radius: 15px;
    font-size: 1.5em;
}

.btn-page {
    display: block;
    padding: 3% 10% 3% 10%;
    background-color: #008000;
    border-radius: 15px;
    margin-top: 50px;
    font-size: 1.5em;
}

.btn-retour {
    display: block;
    padding: 2% 10% 2% 10%;
    background-color: #d1d1d1;
    border-radius: 15px;
    font-size: 1.5em;
}

.btn-success {
  color: #fff;
  background-color: #008000;
  border-color: #4cae4c;
}
.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}

.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

a {
    text-transform: none;
    text-decoration: none;
    color: black;
}

.a-link {
    color: #FFF;
    text-transform: none;
    text-decoration: none;
}

.list {
    border: 1px inset black;
    border-radius: 30px;
    margin-top: 10px;
    cursor: pointer;
}
.list:hover{
    background-color: #f6f6f6;
}

img {
    width: 200px;
    height: 320px;
}

.form-control {
    display: block;
    padding: 5px;
    width: 100%;
    font-size: large;
}

.form-element {
    width: 100%;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 2px inset black;
    color: green;
    font-size: x-large;
    
}

.form-element:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75), 0 0 0px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}

form {
    width: 100%;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:hover,
.btn:focus,
.btn.focus {
    color: #333;
    text-decoration: none;
}

.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    opacity: 0.65;
    -webkit-box-shadow: none;
    box-shadow: none;
}